@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Sarabun;
    src: url('../src/assets/fonts/Sarabun/Sarabun-Light.ttf');
  }
  
  @font-face {
    font-family: Sarabun-Bold;
    src: url('../src/assets/fonts/Sarabun/Sarabun-Bold.ttf');
  }

html,
body {
    overflow-x: clip;
    scroll-behavior: smooth;
    scroll-padding: 8rem;
}

#app {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.btn, .font-bold {
  font-family: "Sarabun-Bold", sans-serif !important;
  font-weight: 500;
  font-style: normal;
}

* {
  touch-action: manipulation;
}
