@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Sarabun;
    src: url('../src/assets/fonts/Sarabun/Sarabun-Light.ttf');
  }
  
  @font-face {
    font-family: Sarabun-Bold;
    src: url('../src/assets/fonts/Sarabun/Sarabun-Bold.ttf');
  }

html,
body {
    overflow-x: clip;
    scroll-behavior: smooth;
    scroll-padding: 8rem;
}

#app {
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  touch-action: manipulation;
}

.btn, .font-bold {
  font-family: "Sarabun-Bold", sans-serif !important;
  font-weight: 500;
  font-style: normal;
}

.vc-container {
  font-family: "Sarabun", sans-serif !important;
}

.vc-header .vc-title {
  font-family: "Sarabun-Bold", sans-serif !important;
  font-weight: 500 !important;
  color: #64748b !important;
}

.vc-header {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.vc-popover-content {
  min-width: 100% !important;
  height: auto !important;
}

.vc-bordered {
  border-radius: 1.5rem !important;
  border-width: 2px !important;
  border-style: dashed !important;
  border-color: #e5e7eb !important;
}